.navWrap{
    .container-xl{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .content{
        height: 85px;
        display: flex;
        padding-top: 15px;
        margin-bottom: 10px;
        justify-content: space-between;
        .navbar-brand{
            height: 46px;
            img{
                height: 46px;
                margin: 0;
            }
        }
        .addresNav{
            width: 350px;
            margin-left: 150px;
            h5{
                font-size: 15px;
                line-height: 18px;
                color: #1A1A1A;
                font-weight: 600;
                font-family: Roboto;
                text-align: start;
            }
            p{
                font-size: 15px;
                line-height: 18px;
                color: #1A1A1A;
                font-weight: 400;
                font-family: Roboto;
                width: 300px;
                text-align: start;
            }
        }
        .contactNav{
            border-left: 3px solid #DB2777;
            padding-left: 30px;
            p{
                margin: 0;
                padding: 2px;
                font-size: 15px;
                line-height: 18px;
                color: #1A1A1A;
                font-weight: 400;
                font-family: Roboto;
                text-align: start;
                span{
                    margin-left: 5px;
                    // cursor: pointer;
                }a{
                    text-decoration: none;
                    color: #1A1A1A;
                }
            }
        }
    }
    .navbar{
        background-color: #DB2777 !important;
        .collapse{
            ul{
                width: 100%;
                display: flex;
                justify-content: space-between;
                li{
                    display: flex;
                    justify-content: center;
                    a{
                        color: #FFFFFF;
                    }
                      .language{
                        border-style: none;
                        background: none;
                        color: white;
                        outline: none;
                      }:hover{
                        text-decoration: none;
                      }
                }
            }
        }
        .navbar-toggler{
            border: none;
        }
    }
    .fixedNav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 78787878;
    }
}

@media only screen and (max-width: 992px) {
    .navWrap{
        .container-xl{
            // padding: 0 !important;
        }
        .content{
            display: none;
        }
    }
}